parameters:
    level: 6
    paths:
        - Command/
        - Annotation/
        - Logger/
        - WorkerPool/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
